<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377205896368-3im3db64lvaru0ciicua0cehso2iej03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377205896368-3im3db64lvaru0ciicua0cehso2iej03</string>
	<key>API_KEY</key>
	<string>AIzaSyA78XHG1Dvepzp2dPrcZOrHrv96QMySCw8</string>
	<key>GCM_SENDER_ID</key>
	<string>377205896368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ah13.deeds</string>
	<key>PROJECT_ID</key>
	<string>deeds-ee5db</string>
	<key>STORAGE_BUCKET</key>
	<string>deeds-ee5db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377205896368:ios:eea7839956f7f4c84ab775</string>
</dict>
</plist>